body {
	font-family: Georgia, sans-serif;
}

a {
	color: #4169e1;
}

p,
ul,
li {
	max-width: 60ch;
}

h2,
h3 {
	font-weight: 600;
	margin: 56px 0 32px !important;
}
h2:before {
	display: none;
}
.entry-content h2 {
  font-size: 1.75em;
}
.entry-content h3 {
  font-size: 1.35em;
}